.flight-details-container {
  margin: 1.6%;
  padding: 1.6%;
}

.flights-container {
  padding: 1.6%;
}

.card-header {
  justify-content: center;
}

.flight-price {
  text-align: center;
}

.primary-button {
  margin-top: 1.6%;
}
