.btn {
  margin-top: 10px;
}

.login-content {
  background-color: #cfcfcf;
  height: 100vh;
  width: 100%;
}

.card-header {
  text-align: center;
}

.card {
  min-width: 300px;
  min-height: 400px;
}

.btn {
  width: 100%;
}

.form-control {
  margin: 2.6% auto;
}
