/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

.app-content {
  padding-top: 70px;
  margin: 0 auto;
}

body {
  background: linear-gradient(to right ,gainsboro 1%, #f6f6f6 80%, gainsboro) ;
}
